<h1>UNR Transportation</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
Welcome to the UNR Transportation App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
