<% content_for :nav_menu do %>
  <%= render 'layouts/nav_menu', links: [{ text: 'Home', path: 'users_main_path(@user)' }, { text: 'Logout', path: 'users_logout_path' }], home: 'edit_user_path(@user)' %>
<% end %>
<p id='instructions'>Your Courses:</p>
<br />
<div id='course-list'>
  <% if @courses.empty? %>
    <p class='center'>No courses found. Start by adding one below!</p>
  <% else %>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Building</th>
        <th colspan="2">Actions</th>
      </tr>
      <%= render @courses %>
    </table>
  <% end %>
</div>
<%= button_to 'Add Course', new_user_course_path, method: :get, class: "button_to"  %>
