/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #ffffff;
}
#content {
  background-color: #aaaaaa;
  border-radius: 25px;
  text-align: center;
  width: 75%;
  margin:0 auto;
}
h1 {
  font-family: sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
}
img {
  height: 700px;
  width: 450px;
  align-self: right;
}
#header {
  background-color: #0400a4;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 20%;
}
#footer {
  background-color: #0400a4;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 20%;
}
#map {
  width: 50em;
  height: 25em;
}
