// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans Condensed:700', serif;
}
p {
  color: #ffffff;
  font-size: 14px;
  margin: 3px 0;
}
h1 {
  color: #043c6f;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-bottom: 5px;
}
