/*
 *= require jquery.timepicker.css
 *= require switches.css
 *= require pure-menues.css
 *= require_self
 */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed:700', serif;
}
h1 {
  color: #043c6f;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  padding-left: 1.75em;
  padding-right: 1em;
  float:right;
}
p {
  color: #ffffff;
  font-size: 14px;
  margin: 3px 0;
}
input[type=text], select {
  border-radius: 4px;
  color: #ffffff;
  width: 45%;
  background-color: rgb(32, 32, 32);
}
input[type=password], select {
    border-radius: 4px;
    color: #ffffff;
    width: 45%;
    background-color: rgb(32, 32, 32);
    float: left;
}
input[type=submit] {
  color: #ffffff;
  background-color: #043c6f;
  border-radius: 4px;
  position: relative;
  margin: auto;
  display: block;
}
select {
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(32, 32, 32);
  float: left;
  width: 45%;
}
form {
  /*width: 75%;*/
  margin: 0 auto;
}
label {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  margin-left: 5px;
  vertical-align: top;
  float: right;
}
.label {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  margin-left: 5px;
  vertical-align: top;
  float: right;
}
.edit_user {
  width: 75%;
  margin: 0 auto;
}
#signup-form {
  width: 75%;
  margin: 0 auto;
}
#content {
  width: 100%;
  height: 100%
}
#map {
  width: 100%;
  height: 100%;
}
#nav {
  z-index: 100;
  position: absolute;
  left: 3em;
  top: 3em;
  height: 22em;
  width: 25em;
  padding: 0px;
  border-radius: 5%;
  background-color: rgba(40, 40, 40, 0.95);
  -webkit-box-shadow: 31px 31px 68px -12px rgba(0,0,0,0.69);
  -moz-box-shadow: 31px 31px 68px -12px rgba(0,0,0,0.69);
  box-shadow: 31px 31px 68px -12px rgba(0,0,0,0.69);
}
#info {
  border: 2px;
  background-color: rgba(173, 173, 173, 0.15);
  padding: 5px;
  border-radius: 5%;
  position: absolute;
  top: 315px;
  left: 10px;
  width: 370px;
}
#instructions {
  text-align: center;
}
#name {
  color: #ffffff;
  display: inline-block;
}
#title {
  text-align: center;
}
#price {
  text-align: center;
  color: #23d400;
}
#description {
  font-size: 16px;
}
#user-email {
  color: #00fff7;
}
#course-form {
  color: #ffffff;
}
#login-form {
  width: 75%;
  margin: 0 auto;
}
td {
  font-size: 0.7em;
  color: #FFFFFF;
}
th {
  font-size: 0.75em;
  color: #42aaff;
  border-bottom: 1px solid #dddddd;
}
.button_to {
  font-size: 0.3em;
  border-radius: 0.05em;
}
div .pure-menu pure-menu-horizontal {
  position: fixed;
  left: 0px;
  top: 0px;
  display: inline-block;
  /*float: left;*/
}
a {
  text-decoration: none;
  color: #ec5b5b;
}
#account:hover, #account:active {
  border-top-left-radius: 25%;
  background-color: rgba(173, 173, 173, 0.15);
}
.pure-menu-link {
  padding: 1em;
}
.pure-menu-children {
  background-color: white;
}
.pure-menu-children a {
  color: #34A7C1;
}
#header {
  padding-right: 1.75em;
}
#form {
  text-align: left;
  padding: 2.5em;
  padding-top: .5em;
}
div .flash {
  text-align: center;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 1em;
  margin-top: 0em;
  border-radius: 0.5em;
}
.notice {
  background: white;
}
.danger {
  background: rgba(255, 0, 0, 0.4);
  color: rgba(69, 0, 0, 1);
}
.success {
  background: rgba(20, 255, 0, 0.4);
  color: rgb(5, 66, 0);
}
.flash i {
  float: right;
}
#placeholderid {
  width: 75%;
}
#course-list, .new_course, #course-form {
  margin: 0 auto;
  width: 75%;
}
