<%= content_tag(:div, nil, id: 'map_data', data: {zones: @zones, info: @info, dispensers: permit_dispensers, evcs: electric_vehicle_charging_stations, stops: pack_transit_stops, routes: pack_transit_routes}) %>
<br />
<p id='instructions'>Please select a parking pass and time to view available parking</p>
<%= render 'layouts/map_form' %>
<div id='info'>
  <div id='title'>
    <h4 id='name'></h4>
    <span id='price'></span>
  </div>
  <p id='description'></p>
</div>
