<div id="content">
  <div id="header">
    <h1>UNR Transportation</h1>
  </div>
  <p>
    <div id="map"></div>
    <!-- <%= form_tag do %>
    <%= select_tag(:pass, '<option value="1">Blue</option>') %>
    <% end %> -->
  </p>
  <div id="footer">
    <p> _ </p>
  </div>
</div>
