<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <%= link_to eval(home) , class: 'pure-menu-link', id: 'account' do %>
            <i class='fa fa-user-circle fa-2x'></i>
          <% end %>
          <ul class="pure-menu-children">
            <% links.each do |link| %>
              <%= content_tag :li, class: "pure-menu-item" do %>
                <%= link_to link[:text], eval(link[:path]), class: 'pure-menu-link' %>
              <% end %>
            <% end %>
          </ul>
      </li>
  </ul>
</div>
