<!DOCTYPE html>
<html>
<head>
  <title>UNR Transportation</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300,700" rel="stylesheet">
</head>
<body>
<%= yield %>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6r93D1mHhWyaRh79vaTficpo47cnayLk&callback=initMap"
async defer></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</html>
